# 【优先级最高】单独指定这个1G镜像：不使用LFS，标记为二进制，不做文本换行转换
file/uboot-start/full_sd.img binary

# 其余所有img交给LFS
*.img filter=lfs diff=lfs merge=lfs -text

# 二进制编译产物，禁止自动换行转换
*.o    binary
*.ko   binary
*.a    binary
*.so   binary
*.elf  binary
*.bin  binary
*.dtb  binary
*.png  binary
*.jpg  binary
*.gz   binary
u-boot binary
u-boot.bin binary
u-boot.img binary
