*.img filter=lfs diff=lfs merge=lfs -text

# 二进制/图片/编译产物：绝不转换（防止 .o/.ko 损坏）
*.o    binary
*.ko   binary
*.a    binary
*.so   binary
*.elf  binary
*.img  binary
*.bin  binary
*.dtb  binary
*.png  binary
*.jpg  binary
*.gz   binary
u-boot binary
u-boot.bin binary
u-boot.img binary